# dir 不需要提交的目录
/das/QNRF
/das/shanghai
/das/skt

# 不需要提交的文件
/das/csrnet_depth/dpt_large-midas-2f21e586.pt
/das/csrnet_mask/new_mask.tar
/das/mask_depth/mask_depth.tar
das/csrnet_mask/__pycache__/model.cpython-38.pyc
das/csrnet_mask/__pycache__/model.cpython-38.pyc
das/csrnet_mask/__pycache__/model.cpython-38.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/share_newdas.iml
.idea/vcs.xml
das/csrnet_mask/__pycache__/model.cpython-38.pyc
das/csrnet_mask/__pycache__/model.cpython-38.pyc
/das/csrnet_mask/__pycache__
/das/csrnet_mask/__pycache__
/das/csrnet_mask/__pycache__
*.pyc
/das/csrnet_mask/__pycache__
*.pyc
das/csrnet_mask_2/A_test.json
das/csrnet_mask_2/A_train.json
das/csrnet_mask_2/B_train.json
das/csrnet_mask_2/new_mask.tar
das/csrnet_mask_2/B_test.json
das/mask_depth2/A_test.json
das/mask_depth2/A_test.json
das/mask_depth2/A_train.json
das/mask_depth2/B_test.json
das/mask_depth2/B_train.json
das/mask_depth2/mask_depth.tar
das/mask_depth2/output119.jpg
das/mask_depth2/output983.jpg
das/mask_depth2/output9.jpg
das/csrnet_mask/__pycache__/model.cpython-38.pyc
das/csrnet_mask/__pycache__/model.cpython-38.pyc
das/mask_depth2.zip
das/csrnet_mask/__pycache__/model.cpython-38.pyc
das/mask_depth2/0model_best.pth.tar
das/mask_depth2/A_test.json
das/mask_depth2/A_train.json
das/mask_depth2/B_test.json
das/mask_depth2/B_train.json
das/mask_depth2/dataset.py
*.jpg
das/mask_depth2/result_2.tar
